#clone_container{
	position: absolute;
	top:0px;
	left:0px;
	width:10px;
	height:10px;
	z-index: 9999999999999999999;
	display:none;
}

body {
	background: url('img/zc_backgound.jpg') no-repeat center -350px;
    padding-top: 100px;
    background-color: black !important;
	padding-bottom: 20px;
	
}



#output_griffe{
    max-height: 50px;
    max-width: 50px;
}

.calque_griffe_desc {
	top: 534px;
    left: 19px;
}


.calque_griffe_stats{
	top: 594px;
    left: 19px;
}

#downoad_button{
	margin-left: 40px;
}

#about{
	padding: 20px;
	width: 300px;
}

.hidden{
	display:none;
}

nav li div.radio , nav li div.checkbox{
	margin-left: 20px;
	margin-right: 20px;
}

nav li div.radio label, nav li div.checkbox label{
	white-space: nowrap;
}



#card_overlay {
    position:absolute;
    width: 488px;
    height: 750px;
}

.card_overlay_bleeding_2, .card_overlay_bleeding_1{
	left: 55px;
	top:36px;
}

.card_overlay_bleeding_3{
	left: 80px;
	top: 80px;
}

.card_background_bleeding_1{
	width:488px;
	height: 822px;
	background-image:url("img/bleeding_full.png");
	margin-top: -36px;
}

.card_bleeding_area_bleeding_1{
	width:597px;
	height: 822px;
	background-repeat: no-repeat;
}

.card_bleeding_area_bleeding_2 {
	width:597px;
	height: 822px;
	background-repeat: no-repeat;
}

.card_background_bleeding_2{
	width:597px;
	height: 822px;
	background-image:url("img/bleeding_full.png");
	margin-top: -36px;
	margin-left: -55px;
}

.card_bleeding_area_bleeding_3 {
	width:648px;
	height: 910px;
	background-repeat: no-repeat;
}

.card_background_bleeding_3{
	width:648px;
	height: 910px;
	background-image:url("img/bleeding_print_and_cut.png");
	margin-top: -80px;
	margin-left: -80px;
}

.card_background{
	background-repeat: no-repeat;
	background-position: center;
}

.card_background_bleeding_0{
	width:488px;
	height: 750px;
	background-image:url("img/bleeding_full.png");
	
}

.card_bleeding_area_bleeding_0 {
	width:488px;
	height: 750px;
	background-repeat: no-repeat;
}



#card_bleeding_area {
	background-color: white;
    position: relative;
    margin: auto;
}

#calque_card_border_preview{
	background-color: transparent;
	height: 750px;
	pointer-events: none;
	border: 1px solid black;
	border-radius: 30px;
	display:none;
	top: 0px;
}

.calque_card_border_preview_bleeding_1 ,.calque_card_border_preview_bleeding_0, .calque_card_border_preview_bleeding_3{
	width:488px;
}

.calque_card_border_preview_bleeding_2 {
	width:525px;
	margin-left: -18px;
}


#main button {
	width: 100%;
}

textarea {
	width: 100%;
}

#output_dual{
    height: 60px;
    width: 60px;
	margin-top: -10px;
}

#card_image {
    position: absolute;
    top: 200px;
    left:50px;
    max-width: 80%;
    cursor: move;
	display:none;
}

#card_image_shadow {
    position: absolute;
	display: none;
	max-width: 80%;
}

.card_stats {
    position: absolute;
    font-family: EurostileLTStd;
    bottom: 32px;
    font-size: 30pt;
    color:#000000;
    text-align:right;
    line-height: 0.9em;
	width: 100%;
	letter-spacing: -2.5px;
	white-space: nowrap;
}


#output_range {
    right:371px;
	width: 83px;
}

#output_nb_dice {
    right:265px
}

#output_val_dice {
    right:151px
}

#output_power {
    right:44px
}

#card_file {
    margin-top:10px
}

#langage_panel .dropdown-menu {
	min-width: 0px;
}

.input_card_stats {
    width:24px;
}

.calque{
    position:absolute;
}

.calque_break_in_noise {
    right:0px;
    top: 153px;
    cursor: move;
	height: 103px;
	background-position: left;
}

.calque_kill_noise{
    left:0px;
    top: 470px;
	height: 103px;
    cursor: move;
	background-position: right;
}

.calque_break_in_noise_noisy {
	background-image: url("img/NoisyBreakIn.png");
}

.calque_break_in_noise_silent{
	background-image: url("img/SilentBreakIn.png");
}

.calque_kill_noise_noisy {
	background-image: url("img/NoisyKill.png");
}

.calque_kill_noise_silent{
	background-image: url("img/SilentKill.png");
}

.calque_break_in_noise_bleeding_3{
	width: 273px;
	margin-right: -80px;
}

.calque_break_in_noise_bleeding_0{
	width: 193px;
}

.calque_break_in_noise_bleeding_1, .calque_break_in_noise_bleeding_2 {
	width: 248px;
	margin-right: -54px;
}

.calque_kill_noise_bleeding_0{
	width: 218px;
}


.calque_kill_noise_bleeding_3{
	width:296px;
    margin-left: -80px;	
}

.calque_kill_noise_bleeding_1, .calque_kill_noise_bleeding_2{
	width:271px;
    margin-left: -55px;
}

.calque_ultrared {
	background-image:url("img/Ultrared.png");
	top:0px;
	background-position: bottom;
	background-repeat: no-repeat;
}

.calque_ultrared_bleeding_0 {
	width: 488px;
	height: 225px;
}

.calque_ultrared_bleeding_1, .calque_ultrared_bleeding_2 {
    width: 598px;
    height: 290px;
    margin-top: -65px;
    margin-left: -55px;
}

.calque_ultrared_bleeding_3 {
	width: 568px;
	height: 305px;
	margin-top: -80px;
	margin-left:-40px;
}

.calque_stats {
	background-image:url("img/Stats.png");
	background-repeat: no-repeat;
	background-position: top;
	width:426px;
    bottom: 0px;
    left: 26px;
}

.calque_stats_bleeding_0 {
	height:140px;
}

.calque_stats_bleeding_1, .calque_stats_bleeding_2 {
	height:176px;
	margin-bottom:-36px;
}

.calque_stats_bleeding_3 {
	height:220px;
	margin-bottom:-80px;
}

.calque_description {
	background-image:url("img/Text.png");
	background-repeat: no-repeat;
	background-position: top;
	width:427px;
    bottom: 0px;
    left: 26px;
}

.calque_description_bleeding_0 {
	height:201px;
}

.calque_description_bleeding_1, .calque_description_bleeding_2 {
	height:237px;
	margin-bottom:-36px;
}

.calque_description_bleeding_3 {
	height:281px;
	margin-bottom:-80px;
}

.optional {
    display:none;
}

#output_card_header {
    position:absolute;
    width: 488px;
    top:44px;
    text-align:center;
}


#output_card_header p{
    margin: 0;
}

#output_card_name {
    font-family: Crackhouse;
    /* 89px -> 65pt */
    font-size: 60pt;
    color:#090808;
    line-height: 0.8em;
    text-align: center;
    letter-spacing: -2px;
}

#output_card_sub_name {
    font-family: EurostileLTStd;
    font-size: 18pt;
    color:#5C5C5F;
	line-height: 1em;
	padding-top: 5px;
}

#output_description_container {
    position:absolute;
    font-size: 18pt;
    color:#5C5C5F;
    bottom: 0px;
    width: 420px;
    height: 201px;
    left: 35px;
}

#output_description_container  tr{
    height: 201px;
    vertical-align:middle;
}

#output_description_container  tr td{
    font-family: EurostileLTStd;
    font-size: 18pt;
    color:#5C5C5F;
    text-align:center;
}

.img_de {
	margin-top: -7px;
}

@font-face {
    font-family: EurostileLTStd;
    src: url("fonts/EurostileLTStd-BoldCn.otf") format("opentype");
}

@font-face {
    font-family: Crackhouse;
    src: url('fonts/crackhouse.ttf');
}

#input_dual_container tr {
    vertical-align: middle;
}

#input_dual_container img {
    width: 30px;
    height: 30px;
}
